body {
    background: #eeeeee;
}

.bg-skyblue {
    background: #00adb5;
    background-image: radial-gradient( circle farthest-corner at 14.2% 27.5%,  #11999e 0%, #00adb5 90% );
}

.bg-green {
    background: rgb(98,193,144);
    background: -moz-linear-gradient(62deg, rgba(98,193,144,1) 13%, rgba(85,171,127,1) 85%);
    background: -webkit-linear-gradient(62deg, rgba(98,193,144,1) 13%, rgba(85,171,127,1) 85%);
    background: linear-gradient(62deg, rgba(98,193,144,1) 13%, rgba(85,171,127,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#62c190",endColorstr="#55ab7f",GradientType=1);
}


.bg-odp {
    color: #fff;
    min-height:100%;
    background:url("../../img/823977285.jpg");
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(167, 167, 167, 0.25);
}

.bg-pdp {
    color: #fff;
    min-height:100%;
    background:url("../../img/823977285.jpg");
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(255, 140, 0, 0.29);
}

.bg-positive {
    color: #fff;
    min-height:100%;
    background:url("../../img/823977285.jpg");
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(255, 0, 0, 0.29);
}

.bg-recovered {
    color: #fff;
    min-height:100%;
    background:url("../../img/823977285.jpg");
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.29);
}

.bg-death {
    color: #fff;
    min-height:100%;
    background:url("../../img/823977285.jpg");
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.58);
}
